################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Conversii/.vs/Conversii/v16/Server/sqlite3/db.lock
/ProblemPool1/Pb1/.vs/Pb1/v16/Server/sqlite3/db.lock
/ProblemPool1/Pb2/.vs/Pb2/v16/Server/sqlite3/db.lock
/ProblemPool1/Pb3/.vs/Pb3/v16/Server/sqlite3/db.lock
